In [15]:
import pandas as pd

# read ID as string, not int

sed_old = pd.read_csv('sed.tsv', sep='\t', dtype={'ID': str})
sed_new = pd.read_csv('Scrapers/sed.tsv', sep='\t', dtype={'ID': str})

In [17]:
# find the new rows
new_rows = sed_new[~sed_new['ID'].isin(sed_old['ID'])]
new_rows

,ID,PARAMETER_ID,CONCEPT,DOCULECT,LANGUAGE_NAME,VALUE,FORM,TOKENS,GLOTTOLOG,LATITUDE,LONGITUDE,LANGUAGE_FAMILY,COGID
18419,27905,NaN,"to weave; to respect; to assume, reckon, plan",NaN,Hebrew,NaN,ḥšb,NaN,NaN,NaN,NaN,Semitic,2147
18420,27904,NaN,"to consider, respect",NaN,Biblical Aramaic,NaN,ḥšb,NaN,NaN,NaN,NaN,Semitic,2147
18421,27903,NaN,"to calculate, plan",NaN,Syriac,NaN,ḥšb,NaN,NaN,NaN,NaN,Semitic,2147
18422,27906,NaN,"(a) to count; (i) to think, believe",NaN,Arabic,NaN,ḥsb,NaN,NaN,NaN,NaN,Semitic,2147
18423,27907,NaN,"to think, believe, esteem",NaN,Geez,NaN,ḥsb,NaN,NaN,NaN,NaN,Semitic,2147
18425,28057,NaN,hebes fuit (oculus); occaecatus est; occaecavit,NaN,Syriac,NaN,ghr,NaN,NaN,NaN,NaN,Semitic,2148
18426,28058,NaN,to be unable to see the sun,NaN,Arabic,NaN,ǯhr,NaN,NaN,NaN,NaN,Semitic,2148
18427,24591,NaN,to be dazzled,NaN,Mehri,NaN,gəhēr,NaN,NaN,NaN,NaN,Semitic,2148
18428,28056,NaN,"to be dazzled; to have weak eyes, to be shorts...",NaN,Jibbali,NaN,gɛhέr,NaN,NaN,NaN,NaN,Semitic,2148
18429,4108,NaN,shortsighted,NaN,Soqotri,NaN,gɛ́hɛr,NaN,NaN,NaN,NaN,Semitic,2148